body{
	margin:0;
	background-color: black;
}
.head{
	padding: 2%;
}
.main{
	height:70vh;
	width:100vw;
	background-image:url("img5.jpg");
	background-size: cover;
}
.sign-reg{
	text-align: center;
	padding: 3%;
}
h1{
	margin:0;
	text-align: center;
	color: #E86A33;
	background-color: black;
	display: block;
}
table,td,th{
	text-align: center;
	margin-left: auto;
	margin-right: auto;
	margin-top: 10px;
	width: 70vw;
	border: 3px solid #3E54AC;
	border-collapse: collapse;
}
button{
	padding: 1%;
	border-style: solid;
	border-radius: 10%;
	margin:50px;
	text-decoration: solid;
}