<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Anton&family=Bebas+Neue&display=swap" rel="stylesheet">
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular.min.js"></script>    
    <title>Main page</title>
    <style>
         *{
            margin: 0;
            padding: 0;
        }
        .header{
            height: 50px;
            font-size: large;
            padding: 10px;
            /* background: linear-gradient(135deg, rgba(34,193,195,1) 0%, rgba(253,187,45,1) 100%); */
        }
        body{
            /* display: flex;
            flex-direction: column; */
            /* justify-content: space-around; */
            background-color: #004D98;
            color: rgb(12, 3, 3);
            font-family: "Bebas Neue";
            font-size: large;
            background: linear-gradient(135deg, rgba(34,193,195,1) 0%, rgba(253,187,45,1) 100%);
            background-repeat: no-repeat;
            height: 100vh;
        }
        ul{
            list-style-type: none;
            margin: 0;
            padding: 0;
            background-color: #111;
        }
        li{
            float: left;
        }
        li a{
            display: block;
            padding: 10px;
        }
        h1{
            padding: 20px;
        }
        table{
            margin: 50px auto;
            text-align: center;
            padding: 10px;
            border: 1px solid;
            background: radial-gradient(circle, rgba(238,174,202,1) 0%, rgba(148,187,233,1) 100%);
        }
        td{
            border: 1px solid;
        }
        td{
            padding: 10px;
            height: 100px;
            width: 100px;
        }
        td select option{
            text-align: center;
        }
    </style>
</head>
<body ng-app="myApp" ng-controller="myCtrl">
    <div class="header">
    <ul>
        <li><a href="/">Home</a></li>
        <li style="float: right;"><a href="signup.html">Register</a></li>
        <li style="float: right;"><a href="">Login</a></li>
    </ul>
    <!-- <h1 style="text-align: center;">Welcome to Football Fantasy</h1> -->
    </div>
    <hr>
    <h1 style="text-align: center; margin: auto;">Welcome to Football Fantasy</h1>
    <h2 style="text-align: center; margin: auto;">Select Your Team!!</h2>
    <p style="text-align: center; margin: auto;">With 70M Budget initially, choose your fantasy team wisely!!.</p>
    <div>
        <table>
            <tr>
                <td colspan="5"><span>G K</span><br>
                    <select name="gk" id="1" ng-model="gk">
                        <option ng-repeat="x in goalkeeper" value="{{x.value}}" selected>{{x.name}} - {{x.value}}</option>
                    </select>
                </td>
            </tr>
            <tr>
                <td><span>R B</span><br>
                    <select name="rb" id="1" ng-model="rb">
                        <option ng-repeat="x in goalkeeper" value="{{x.value}}" selected>{{x.name}} - {{x.value}}</option>
                    </select>
                </td>
                <td><span>C B</span><br>
                    <select name="cb1" id="1" ng-model="cb1">
                        <option ng-repeat="x in centerback" value="{{x.value}}" selected>{{x.name}} - {{x.value}}</option>
                    </select>
                </td>
                <td style="border: none;"></td>
                <td><span>C B</span><br>
                    <select name="cb2" id="1" ng-model="cb2">
                        <option ng-repeat="x in centerback1" value="{{x.value}}" selected>{{x.name}} - {{x.value}}</option>
                    </select>
                </td>
                <td><span>L B</span><br>
                    <select name="lb" id="1" ng-model="lb">
                        <option ng-repeat="x in leftback" value="{{x.value}}" selected>{{x.name}} - {{x.value}}</option>
                    </select>
                </td>
            </tr>
            <tr>
                <td colspan="2"><span>C M</span><br>
                    <select name="cm1" id="1" ng-model="cm1">
                        <option value="5.4" selected>Allison</option>
                        <option value="5.3">Ederson</option>
                        <option value="5.3">Ederson</option>
                        <option value="5.3">Ederson</option>
                        <option value="5.3">Ederson</option>
                        <option value="5.3">Ederson</option>
                    </select>
                </td>
                <td colspan="1"><span>D M</span><br>
                    <select name="dm" id="1" ng-model="dm">
                        <option value="5.4" selected>Allison</option>
                        <option value="5.3">Ederson</option>
                        <option value="5.3">Ederson</option>
                        <option value="5.3">Ederson</option>
                        <option value="5.3">Ederson</option>
                        <option value="5.3">Ederson</option>
                    </select>
                </td>
                <td colspan="2"><span>C M</span><br>
                    <select name="cm2" id="1" ng-model="cm2">
                        <option value="5.4" selected>Allison</option>
                        <option value="5.3">Ederson</option>
                        <option value="5.3">Ederson</option>
                        <option value="5.3">Ederson</option>
                        <option value="5.3">Ederson</option>
                        <option value="5.3">Ederson</option>
                    </select>
                </td>
            </tr>
            <tr>
                <td colspan="2"><span>R W</span><br>
                    <select name="rw" id="1" ng-model="rw">
                        <option value="5.4" selected>Allison</option>
                        <option value="5.3">Ederson</option>
                        <option value="5.3">Ederson</option>
                        <option value="5.3">Ederson</option>
                        <option value="5.3">Ederson</option>
                        <option value="5.3">Ederson</option>
                    </select>
                </td>
                <td colspan="1"><span>S T / C F</span><br>
                    <select name="st" id="1" ng-model="st">
                        <option value="5.4" selected>Allison</option>
                        <option value="5.3">Ederson</option>
                        <option value="5.3">Ederson</option>
                        <option value="5.3">Ederson</option>
                        <option value="5.3">Ederson</option>
                        <option value="5.3">Ederson</option>
                    </select>
                </td>
                <td colspan="2"><span>L W</span><br>
                    <select name="lw" id="1" ng-model="lw">
                        <option value="5.4" selected>Allison</option>
                        <option value="5.3">Ederson</option>
                        <option value="5.3">Ederson</option>
                        <option value="5.3">Ederson</option>
                        <option value="5.3">Ederson</option>
                        <option value="5.3">Ederson</option>
                    </select>
                </td>
            </tr>
        </table>
    </div>
    <h1 style="text-align: center; margin: auto;">Avaliable Budget : {{(budget-gk-lb-cb1-cb2-rb-cm1-dm-cm2-lw-st-rw).toFixed(2)}}</h1>
    <script>
        var app = angular.module("myApp",[]);
        app.controller("myCtrl",function($scope){
            $scope.budget = 70;
            $scope.gk='0';
            $scope.lb='0';
            $scope.cb1='0';
            $scope.cb2='0';
            $scope.rb='0';
            $scope.cm1='0';
            $scope.dm='0';
            $scope.cm2='0';
            $scope.lw='0';
            $scope.st='0';
            $scope.rw='0';
            
            $scope.gk=parseFloat($scope.gk);
            $scope.lb=parseFloat($scope.lb);
            $scope.cb1=parseFloat($scope.cb1);
            $scope.cb2=parseFloat($scope.cb2);
            $scope.rb=parseFloat($scope.rb);
            $scope.cm1=parseFloat($scope.cm1);
            $scope.dm=parseFloat($scope.dm);
            $scope.cm2=parseFloat($scope.cm2);
            $scope.lw=parseFloat($scope.lw);
            $scope.st=parseFloat($scope.st);
            $scope.rw=parseFloat($scope.rw);

            $scope.goalkeeper = [{name:"Allison",value:5.4},{name:"Ederson",value:5.4},{name:"Nick Pope",value:5.4},{name:"Emiliano Martinez",value:5.0},{name:"De Gea",value:5.0},{name:"Lloris",value:5.4},]
            $scope.rightback = [{name:"Allison",value:5.4},{name:"Ederson",value:5.4},{name:"Nick Pope",value:5.4},{name:"Emiliano Martinez",value:5.0},{name:"De Gea",value:5.0},{name:"Lloris",value:5.4},]
            $scope.centerback = [{name:"Virgil van Dijk",value:6.6},{name:"Rúben Dias",value:6.0},{name:"Aymeric Laporte",value:5.6},{name:"Lisandro Martínez",value:5.0},{name:"Joel Matip",value:5.9},{name:"John Stones",value:5.5},]
            $scope.centerback1 = [{name:"Kalidou Koulibaly",value:5.5},{name:"Nathan Aké",value:5.1},{name:"Gabriel Magalhães",value:5.3},{name:"Manuel Akanji",value:5.0},{name:"Cristian Romero",value:4.9}]
            $scope.leftback = [{name:"Andy Robertson",value:6.8},{name:"Oleksandr Zinchenko",value:5.2},{name:"Joao Cancelo",value:7.1},{name:"Luke Shaw",value:5.1},{name:"Aaron Cresswell",value:4.7},{name:"Ben Chilwell",value:5.9},]
            $scope.centermid = [{name:"Allison",value:5.4},{name:"Ederson",value:5.4},{name:"Nick Pope",value:5.4},{name:"Emiliano Martinez",value:5.0},{name:"De Gea",value:5.0},{name:"Lloris",value:5.4},]
            $scope.defmid = [{name:"Allison",value:5.4},{name:"Ederson",value:5.4},{name:"Nick Pope",value:5.4},{name:"Emiliano Martinez",value:5.0},{name:"De Gea",value:5.0},{name:"Lloris",value:5.4},]
            $scope.centermid1 = [{name:"Allison",value:5.4},{name:"Ederson",value:5.4},{name:"Nick Pope",value:5.4},{name:"Emiliano Martinez",value:5.0},{name:"De Gea",value:5.0},{name:"Lloris",value:5.4},]
            $scope.rightwing = [{name:"Allison",value:5.4},{name:"Ederson",value:5.4},{name:"Nick Pope",value:5.4},{name:"Emiliano Martinez",value:5.0},{name:"De Gea",value:5.0},{name:"Lloris",value:5.4},]
            $scope.centerforward = [{name:"Allison",value:5.4},{name:"Ederson",value:5.4},{name:"Nick Pope",value:5.4},{name:"Emiliano Martinez",value:5.0},{name:"De Gea",value:5.0},{name:"Lloris",value:5.4},]
            $scope.leftwing = [{name:"Allison",value:5.4},{name:"Ederson",value:5.4},{name:"Nick Pope",value:5.4},{name:"Emiliano Martinez",value:5.0},{name:"De Gea",value:5.0},{name:"Lloris",value:5.4},]
            // $scope.rem = budget - gk-lb-cb1-cb2-rb-cm1-dm-cm2-lw-st-rw;
        })
    </script>
</body>
</html>