<!DOCTYPE HTML>
<html>
<head>
<title>Index page</title>
<link rel="stylesheet" href="index.css">
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular.min.js"></script>
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Kanit&display=swap" rel="stylesheet">
</head>
<body>
    <div class="head">
        <h1><b>Welcome to Football Fantasy</b></h1>
    </div>
    <div class="main">
    </div>
    <div class="sign-reg">
        <h1 style="padding: 1%;">Join Now to play Fantasy <%= locals.name %></h1>
        <button class="btn" type="button"><a href="/login" style="outline: none; text-decoration: none;">Login Here</a></button>
        <button class="btn" type="button"><a href="/signup" style="outline: none; text-decoration: none;">Register Here</a></button>
        <button class="btn" type="button"><a href="/contactus" style="outline: none; text-decoration: none;">Contact Us</a></button>
    </div>
    <div>
        
    </div>
</body>
</html>